.header {
  flex: 0 0;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 180px;
  margin-bottom: 28px;
}
.navigation {
}
.list {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.page {
}
.page a {
  color: inherit;
}
