.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: content-box;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 25px;
  height: 25px;
}
.icon g {
  fill: white;
}
g {
  transition: 0.2s ease-in-out;
}
