.code {
  display: block;
  background: var(--main-code-);
  padding: 15px 20px;
  box-sizing: border-box;
  border-radius: 7px;
  font-family: "Consolas";
}
.attribute {
  color: var(--main-attribute-);
}
.operator {
  color: var(--main-operator-);
}
.text {
  color: var(--main-text-);
}
